.form-container {
  border: 1px solid #FFB6C1;
  padding: 20px;
  border-radius: 8px;
  transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

.form-container:hover {
  border-color: #FFB6C1;
  box-shadow: 0 0 10px #363536(67, 67, 68, 0.5);
}
